NEXT_PUBLIC_SUPABASE_URL=https://omlbijupllrglmebbqnn.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9tbGJpanVwbGxyZ2xtZWJicW5uIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI2OTIxMTEsImV4cCI6MjA4ODI2ODExMX0.rHTlmURvcVQh2WdMsGnEe0zTytY76iKwHAcx1iJudd8
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
